<footer class="section sectionGrid">
	<div class="footer__content">
		<div class="footerCopyright">
			<p>&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> Brian Maier Jr. If you are seeing this, you've gone too far. Photo by <a href="http://zeedeegee.squarespace.com/" target="_blank">ZDG</a></small></p>
		</div>
		<ul class="footerSocial socialLinks u-noList">
			<li>
				<a href="mailto:brianmaierjr@gmail.com?subject=Hey%20dude.%20Let%27s%20make%20magic%20together.">
					{% include icons/envelope.svg %}
				</a>
			</li>
			<li>
				<a href="https://dribbble.com/brianmaierjr" target="_blank"
					>{% include icons/dribbble.svg %}</a
				>
			</li>
			<li>
				<a href="https://github.com/brianmaierjr" target="_blank"
					>{% include icons/github.svg %}</a
				>
			</li>
			<li>
				<a href="https://twitter.com/brianmaierjr" target="_blank"
					>{% include icons/twitter.svg %}</a
				>
			</li>
		</ul>
	</div>
</footer>