<footer class="section sectionGrid">
	<div class="footer__content">
		<div class="footerCopyright">
			<p>&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> Brian Maier Jr. If you are seeing this, you've gone too far. Photo by my good bud <a href="http://zeedeegee.squarespace.com/" target="_blank" rel="noopener">ZDG</a></small></p>
			<p>Created with <a href="https://www.11ty.dev/" target="_blank">Eleventy</a> and hosted on <a href="https://www.netlify.com/" target="_blank">Netlify</a></p>
		</div>
		<ul class="footerSocial socialLinks u-noList">
			<li>
				<a href="mailto:brianmaierjr@gmail.com?subject=Hey%20dude.%20Let%27s%20make%20magic%20together." target="_blank" rel="noopener">
					{% include icons/envelope.svg %}
					<span class="sr-only">Send me an email</span>
				</a>
			</li>
			<li>
				<a href="https://dribbble.com/brianmaierjr" target="_blank" rel="noopener"
					>{% include icons/dribbble.svg %}
					<span class="sr-only">Check out my designs on dribble</span></a
				>
			</li>
			<li>
				<a href="https://github.com/brianmaierjr" target="_blank" rel="noopener"
					>{% include icons/github.svg %}
					<span class="sr-only">See what I've been coding on GitHub</span></a
				>
			</li>
		</ul>
	</div>
</footer>

<script src="{{ '/assets/js/scripts.js' | url }}"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script> 
<script>
	AOS.init();
</script>