<footer class="section sectionGrid">
	<div class="footer__content">
		<div class="footerCopyright">
			<p>&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> Brian Maier Jr. If you are seeing this, you've gone too far. Photo by my good bud <a href="http://zeedeegee.squarespace.com/" target="_blank" rel="noopener">ZDG</a></small></p>
			<p>Created with <a href="https://www.11ty.dev/" target="_blank" rel="noopener">Eleventy</a> and hosted on <a href="https://www.netlify.com/" target="_blank" rel="noopener">Netlify</a></p>
		</div>
		<ul class="footerSocial socialLinks u-noList">
			<li>
				<a href="mailto:brianmaierjr@gmail.com?subject=Hey%20dude.%20Let%27s%20make%20magic%20together." target="_blank" rel="noopener">
					{% include icons/envelope.svg %}
					<span class="sr-only">Send me an email</span>
				</a>
			</li>
			<li>
				<a href="https://dribbble.com/brianmaierjr" target="_blank" rel="noopener"
					>{% include icons/dribbble.svg %}
					<span class="sr-only">Check out my designs on dribble</span></a
				>
			</li>
			<li>
			<a href="https://twitter.com/brianmaierjr" target="_blank" rel="noopener"
				>{% include icons/twitter.svg %}
				<span class="sr-only">See me ramble on Twitter</span></a
			>
			</li>	
			<li>
				<a href="https://github.com/brianmaierjr" target="_blank" rel="noopener"
					>{% include icons/github.svg %}
					<span class="sr-only">See what I've been coding on GitHub</span></a
				>
			</li>
		</ul>
	</div>
</footer>

<script src="{{ '/assets/js/scripts.js' | url }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>

<script>
	// Header
	var tl = gsap.timeline({ paused: true, defaults: { ease: "power2", duration:.3, opacity: 0 }})
	.from(".header__hero, .color-mode__btn", { duration: .5 })
	.from("h1", { y: 100 })
	.from(".header__content p", { y: 100 })
	.from(".header__content .btnGroup", { y: 100 })
	.from(".headerSocial", { x: -300 })

	// Experience
	gsap.from(".experience", {
		scrollTrigger: {
			trigger: ".experience",
			start: "top 50%",
		}, 
	x: -500,
	opacity: 0,
	duration: .75
	});
	gsap.from(".experience *", {
		scrollTrigger: {
			trigger: ".experience",
			start: "top 50%",
		}, 
	y: 100,
	opacity: 0,
	stagger: .3,
	duration: .75
	});

	// Work
	gsap.from(".work__header > *", {
		scrollTrigger: {
			trigger: ".work",
			start: "top 50%",
		}, 
	y: 100,
	opacity: 0,
	stagger: .3,
	duration: .75
	});

	// Shots
	gsap.from(".shots", {
		scrollTrigger: {
			trigger: ".shots",
			start: "top 70%",
		}, 
	y: 100,
	opacity: 0,
	duration: .75
	});

	// Contact
	gsap.from(".contact", {
	scrollTrigger: {
		trigger: ".contact",
		start: "top 50%",
	}, 
		x: -500,
		opacity: 0,
		duration: .75
	});
	gsap.from(".contact__content > *", {
		scrollTrigger: {
			trigger: ".contact",
			start: "top 50%",
		}, 
	y: 100,
	opacity: 0,
	stagger: .3,
	duration: .75
	});

	window.addEventListener("load", function () {
		tl.play();
	});
</script>