// Footer
footer a {
  color: var(--green);
  text-decoration: none;
}
footer .socialLinks li {
  margin-right: 1em;
}

@media (min-width: 800px) {
  .footer__content {
    grid-column: 8 / span 16;
  }
}
