// Footer
footer {
  display: flex;
  flex-direction: column;
}
footer a {
  color: var(--green);
  text-decoration: none;
}
.footerSocial {
  order: 2;
}
footer .socialLinks li {
  margin-right: 1em;
}
