// Global
body {
  background-color: var(--body-bg);
  color: white;
  font-family: var(--font-hk-regular);
  font-size: var(--root-font-size);
  line-height: 1.5;
  border-left: 6px solid var(--purple);
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: var(--charcoal);
  }
}

.section {
  padding-top: var(--sp-section);
  padding-bottom: var(--sp-section);
  padding-right: var(--mobile-padding);
  padding-left: var(--mobile-padding);
}
@media (min-width: 800px) {
  .section.pullLeft {
    padding-top: calc(var(--sp-section) * 0.6);
    padding-bottom: calc(var(--sp-section) * 0.6);
  }
}
::selection {
  background-color: var(--green);
  color: var(--charcoal);
}
::-moz-selection {
  background-color: var(--green);
  color: var(--charcoal);
}
@media (min-width: 800px) {
  body {
    background-color: var(--body-bg);
    border-left: none;
    position: relative;
  }
  body:before {
    content: "";
    background-color: var(--charcoal);
    display: block;
    width: 75%;
    height: 98%;
    position: absolute;
    top: 1%;
    right: 4.166%;
    z-index: -1;
    border-radius: 0.5em;
  }
  @media (prefers-color-scheme: light) {
    body {
      background-color: white;
    }
    body:before {
      background-color: var(--gray--light);
    }
  }
  .section {
    padding-left: 0;
    padding-right: 0;
  }
}
a {
  color: currentColor;
}
a:not(.btn):hover,
a:not(.btn):focus {
  text-decoration: underline wavy currentColor;
}

hr {
  width: 100%;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
