// Header
header .socialLinks {
  margin-top: 2rem;
}
header .socialLinks li {
  margin-right: 1em;
}
.header__hero img {
  width: 100%;
}

@media (max-width: 799px) {
  .header__hero {
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    overflow: hidden;
  }
  .header__hero img {
    object-fit: cover;
  }
}

@media (min-width: 800px) {
  .header__hero {
    position: relative;
  }
  .header__hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--purple--dark);
    // z-index: -1;
    transform: translate(var(--mouse-x), var(--mouse-y));
    mix-blend-mode: soft-light;
  }
  .header__hero:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--purple);
    z-index: -1;
    transform: translate(var(--mouse-y), var(--mouse-x));
    // mix-blend-mode: hard-light;
  }
  header.section {
    padding-left: 0;
    padding-right: 0;
  }
  header .socialLinks {
    flex-direction: column;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    position: relative;
    z-index: 2;
  }
  header .socialLinks li {
    margin-right: 0;
    margin-bottom: 1em;
  }
  .header__hero img,
  .header__hero .tilt {
    box-shadow: var(--mouse-x) var(--mouse-y) 0 0 var(--gray);
  }
  @media (prefers-color-scheme: light) {
    .header__hero img {
      box-shadow: var(--mouse-x) var(--mouse-y) 0 0 white;
    }
  }
}

@media (min-width: 1600px) {
  .header__hero .tilt {
    min-height: 40em;
  }
}
