@media (min-width: 800px) {
  .sectionGrid {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
  }
  .sectionSplit__left {
    grid-column: 3 / span 7;
  }
  .sectionSplit__right {
    grid-column: 12 / span 11;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header__content .btn {
    align-self: flex-start;
  }
  .sectionPartial {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    box-shadow: var(--mouse-x) var(--mouse-y) 0 0 var(--gray);
  }
  .sectionPartial > * {
    grid-column: 3 / span 14;
  }
  .sectionContentFull {
    grid-column: 8 / span 16;
  }
}
