// Social Links
.socialLinks {
  display: flex;
}

.socialLinks li {
  display: flex;
}

.socialLinks a {
  color: var(--purple);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socialLinks a:hover,
.socialLinks a:focus {
  color: white;
}

html[color-mode="light"] {

  .socialLinks a:hover,
  .socialLinks a:focus {
    color: var(--purple--dark);
  }
}

.socialLinks svg {
  fill: currentColor;
  transition: 0.2s all ease-in-out;
}