// Variables
:root {
	// Colors
	--gray: #1d1d1d;
	--gray--light: #efefefe3;
	--charcoal: #141414;
	--purple: #6d55f5;
	--purple--dark: #4b3ba5;
	--purple--darker: #201d34;
	--green: #a2d90a;
	--white: #ffffff;

	&[color-mode="light"] {
		--surface1: var(--white);
		--surface2: var(--gray--light);
		--primary: var(--purple);
		--secondary: var(--green);
		--text-color: var(--charcoal);
		--text-color-alt: var(--gray);
		--footer-link: var(--purple);
	}

	&[color-mode="dark"] {
		--surface1: var(--gray);
		--surface2: var(--charcoal);
		--primary: var(--purple);
		--secondary: var(--green);
		--text-color: var(--white);
		--text-color-alt: var(--gray--light);
		--footer-link: var(--green);
	}

	// Spacing
	--sp-sm: 1em;
	--sp-md: 2em;
	--sp-lg: 3em;
	--sp-section: 2.2em;
	// Typography
	--root-line-height: 1.45;
	--h1-line-height: 1.1;
	--h2-font-size: 2.22em; // 40px 48px  64px
	--h2-line-height: 1.22;
	--h3-font-size: 2em; // 36px 32px 48px
	--h4-font-size: 1.6em; // 30px
	--font-hk-regular: "hk_groteskregular", sans-serif;
	--font-hk-italic: "hk_groteskitalic", sans-serif;
	--font-hk-bold: "hk_groteskbold", sans-serif;
	--font-hk-bold-italic: "hk_groteskbold_italic", sans-serif;
	--font-barlow: "Barlow", sans-serif;
	--mobile-padding: 30px;
	--mouse-x: 0;
	--mouse-y: 0;
}

@media (min-width: 800px) {
	:root {
		--root-line-height: 1.55;
		--h1-font-size: 2.8em; // 56px
		--h2-font-size: 2.4em; // 48px
		--h3-font-size: 1.6em; // 32px
		--sp-section: 5em;
	}
}

@media (min-width: 1240px) {
	:root {
		--sp-section: 10em;
		--h1-line-height: 1.05;
		--h2-font-size: 3.2em; // 64px
		--h3-font-size: 2.4em; // 48px
	}
}

@media (min-width: 1440px) {
	:root {
		--h2-font-size: 3.5em;
	}
}
