---
layout: default.liquid
title: Brian Maier Jr. | UI/UX Designer & Front-end Developer 
---

<header class="section sectionSplit sectionGrid"> 
	<div class="header__hero sectionSplit__left">
		<!-- <picture> 
			<source srcset="{{ 'assets/img/me.webp' | url }}" type="image/webp" media="(min-width: 801px)">
			<source srcset="{{ 'assets/img/me--sm.webp' | url }}" type="image/webp" media="(max-width: 800px)">
			<source srcset="{{ 'assets/img/me.jpg' | url }}" type="image/jpeg" media="(min-width: 801px)">
			<source srcset="{{ 'assets/img/me--sm.jpg' | url }}" type="image/jpeg" media="(max-width: 800px)">
			<img src="{{ 'assets/img/me.jpg' | url }}" alt="Fine looking lad.">
		</picture> -->
		<img src="{{ 'assets/img/me.jpg' | url }}" alt="Fine looking lad." class="tilt-effect"  data-tilt-options='{ "opacity" : 0.6, "movement": { "perspective" : 1500, "translateX" : 10, "translateY" : 10, "translateZ" : 2, "rotateX" : 3, "rotateY" : 3 } }'> 
	</div>
	<div class="header__content sectionSplit__right">
		<h1 class="u-text--purple">
			<span class="subheading">Brian Maier Jr.</span><br>
			UI/UX Designer &amp; Front-end Developer
		</h1>
		<p>I specialize in building unique digital experiences that delight users, benefit companies, and make better products.</p>
		<div class="btnGroup">
			<a href="mailto:brianmaierjr@gmail.com?subject=Hey%20dude.%20Let%27s%20make%20magic%20together." class="btn" target="_blank"><span class="btn__icon">{% include icons/envelope.svg %}</span> Send me a message</a> 
			<a href="#work" class="btn btn--outline scroll"><span class="btn__icon">{% include icons/eye.svg %}</span> View My Work</a>
		</div>
	</div>
	<ul class="headerSocial socialLinks u-noList"> 
		<li>
			<a href="mailto:brianmaierjr@gmail.com?subject=Hey%20dude.%20Let%27s%20make%20magic%20together." target="_blank">
				{% include icons/envelope.svg %}
			</a>
		</li>
		<li>
			<a href="https://dribbble.com/brianmaierjr" target="_blank"
				>{% include icons/dribbble.svg %}</a
			>
		</li>
		<li>
			<a href="https://github.com/brianmaierjr" target="_blank"
				>{% include icons/github.svg %}</a
			>
		</li>
		<li>
			<a href="https://twitter.com/brianmaierjr" target="_blank"
				>{% include icons/twitter.svg %}</a
			>
		</li>
	</ul>
</header>
<main>
	<section class="experience u-bg--purple section sectionPartial pullLeft">
		{% include icons/devices.svg %}
		<h2>10+ Years of Experience</h2>
		<p>I have over a decade of experience crafting experiences for users that make the web a better and more beautiful place. Currently I'm doing all things front-end for the fantastic folks at <a href="https://switcherstudio.com" target="_blank">Switcher Studio</a> in Louisville, Kentucky.</p>
		<p>Every now and then I entertain freelance work if it's the right fit. If you think I'd be good for your product, please feel free to <a href="mailto:brianmaierjr@gmail.com?subject=Hey%20dude.%20Let%27s%20make%20magic%20together.">reach out</a>.</p>
		<!-- 
		<div class="sideProjects">
			<div class="sideProject">
				<img class="sideProject__img" src="assets/img/147Colors.png" alt="Fine looking lad.">
				<div class="sideProject__content">
					<h4><a href="https://colors.commutercreative.com">147 Colors</a></h4>
					<p>CSS color names resource</p>
				</div>
			</div>
			<div class="sideProject">
				<img class="sideProject__img" src="assets/img/CommuterCreative.png" alt="Fine looking lad.">
				<div class="sideProject__content">
					<h4><a href="https://commutercreative.com">Commuter Creative</a></h4>
					<p>Free Jekyll themes</p>
				</div>
			</div>
			<div class="sideProject">
				<img class="sideProject__img" src="assets/img/ArbitraryAwards.png" alt="Fine looking lad.">
				<div class="sideProject__content">
					<h4><a href="https://arbitraryawards.com">Arbitrary Awards</a></h4>
					<p>Random award generator</p>
				</div>
			</div>				
			<div class="sideProject">
				<img class="sideProject__img" src="assets/img/Etherblack.png" alt="Fine looking lad.">
				<div class="sideProject__content">	
					<h4><a href="https://etherblk.com">Etherblack Industries</a></h4>
					<p>A group of three creative powerhouses coming together to make some incredible work</p>
				</div>
			</div>
		</div> -->
	</section>
	<section class="work section" id="work">
		<div class="work__header sectionContentFull">
			<h2 class="u-text--purple">It's all about the work</h2>
			<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla.</p>
		</div>
		<div class="work__main">
			<picture> 
				<source srcset="{{ 'assets/img/degrees-online.webp' | url }}" type="image/webp" media="(min-width: 801px)">
				<source srcset="{{ 'assets/img/degrees-online--sm.webp' | url }}" type="image/webp" media="(max-width: 800px)">
				<source srcset="{{ 'assets/img/degrees-online.jpg' | url }}" type="image/jpeg" media="(min-width: 801px)">
				<source srcset="{{ 'assets/img/degrees-online--sm.jpg' | url }}" type="image/jpeg" media="(max-width: 800px)">
				<img src="{{ 'assets/img/degrees-online.jpg' | url }}" alt="DegreesOnline.com Website">
			</picture>
			<picture> 
				<source srcset="{{ 'assets/img/oyl.webp' | url }}" type="image/webp" media="(min-width: 801px)">
				<source srcset="{{ 'assets/img/oyl--sm.webp' | url }}" type="image/webp" media="(max-width: 800px)">
				<source srcset="{{ 'assets/img/oyl.jpg' | url }}" type="image/jpeg" media="(min-width: 801px)">
				<source srcset="{{ 'assets/img/oyl--sm.jpg' | url }}" type="image/jpeg" media="(max-width: 800px)">
				<img src="{{ 'assets/img/oyl.jpg' | url }}" alt="On Your Left Cycles Website">
			</picture>
			<picture> 
				<source srcset="{{ 'assets/img/shawnee.webp' | url }}" type="image/webp" media="(min-width: 801px)">
				<source srcset="{{ 'assets/img/shawnee--sm.webp' | url }}" type="image/webp" media="(max-width: 800px)">
				<source srcset="{{ 'assets/img/shawnee.jpg' | url }}" type="image/jpeg" media="(min-width: 801px)">
				<source srcset="{{ 'assets/img/shawnee--sm.jpg' | url }}" type="image/jpeg" media="(max-width: 800px)">
				<img src="{{ 'assets/img/shawnee.jpg' | url }}" alt="Shawnee University Online Website">
			</picture>
			<picture> 
				<source srcset="{{ 'assets/img/logos.webp' | url }}" type="image/webp" media="(min-width: 801px)">
				<source srcset="{{ 'assets/img/logos--sm.webp' | url }}" type="image/webp" media="(max-width: 800px)">
				<source srcset="{{ 'assets/img/logos.jpg' | url }}" type="image/jpeg" media="(min-width: 801px)">
				<source srcset="{{ 'assets/img/logos--sm.jpg' | url }}" type="image/jpeg" media="(max-width: 800px)">
				<img src="{{ 'assets/img/logos.jpg' | url }}" alt="Various Logo Designs by Yours Truly">
			</picture>
		</div>
	</section>
	<section class="contact section sectionPartial pullLeft u-bg--purple"> 
		<div class="contact__content">
			<h2>Let's Make Something Together</h2>
			<p>Get in touch with me to talk about whatever project you have on the horizon. Even if I'm not a good fit I can help point you in the right direction. I can also be found doing work with the amazing creatives at <a href="https://etherblk.com" target="_blank">Etherblack Industries</a> where we offer even more services!</p>
			<a href="mailto:brianmaierjr@gmail.com?subject=Hey%20dude.%20Let%27s%20make%20magic%20together." class="btn" target="_blank"><span class="btn__icon">{% include icons/envelope.svg %}</span> Send me a message</a> 
		</div> 
	</section>
</main>

{% include footer.html %}
