---
layout: default.liquid
title: Brian Maier Jr. | UI/UX Designer & Front-end Developer
---

<header class="section sectionSplit sectionGrid">

	<div class="header__hero sectionSplit__left">
		<picture> 
			<source srcset="{{ 'assets/img/me.avif' | url }}" type="image/avif" media="(min-width: 801px)">
			<source srcset="{{ 'assets/img/me--sm.avif' | url }}" type="image/avif" media="(max-width: 800px)">
			<source srcset="{{ 'assets/img/me.jpg' | url }}" type="image/jpeg" media="(min-width: 801px)">
			<source srcset="{{ 'assets/img/me--sm.jpg' | url }}" type="image/jpeg" media="(max-width: 800px)">
			<img src="{{ 'assets/img/me.jpg' | url }}" alt="Fine looking lad.">
		</picture>
	</div>
	<div class="header__content sectionSplit__right">
		<h1 class="u-text--purple">
			<span class="subheading">Brian Maier Jr.</span><br>
			UI/UX Designer &amp; Front-end Developer
		</h1>
		<p>I specialize in building unique digital experiences that delight users, benefit companies, and make better products.</p>
		<div class="btnGroup">
			<a href="mailto:brianmaierjr@gmail.com?subject=Hey%20dude.%20Let%27s%20make%20magic%20together." class="btn" target="_blank"><span class="btn__icon">{% include icons/envelope.svg %}</span> Send me a message</a> 
			<a href="#work" class="btn btn--outline scroll"><span class="btn__icon">{% include icons/eye.svg %}</span> View My Work</a>
		</div>
	</div>
	<ul class="headerSocial socialLinks u-noList"> 
		<li>
			<a href="mailto:brianmaierjr@gmail.com?subject=Hey%20dude.%20Let%27s%20make%20magic%20together." target="_blank">
				{% include icons/envelope.svg %}
			</a>
		</li>
		<li>
			<a href="https://dribbble.com/brianmaierjr" target="_blank"
				>{% include icons/dribbble.svg %}</a
			>
		</li>
		<li>
			<a href="https://github.com/brianmaierjr" target="_blank"
				>{% include icons/github.svg %}</a
			>
		</li>
		<li>
			<a href="https://twitter.com/brianmaierjr" target="_blank"
				>{% include icons/twitter.svg %}</a
			>
		</li>
	</ul>
</header>
<main>
	<section data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-offset="200" class="experience u-bg--purple section sectionPartial pullLeft">
		{% include icons/devices.svg %}
		<h2>10+ Years of Experience</h2>
		<p>I have over a decade of experience crafting experiences for users that make the web a better and more beautiful place. Currently I'm doing all things front-end for the fantastic folks at <a href="https://switcherstudio.com" target="_blank">Switcher Studio</a> in Louisville, Kentucky.</p>
		<p>Every now and then I entertain freelance work if it's the right fit. If you think I'd be good for your product, please feel free to <a href="mailto:brianmaierjr@gmail.com?subject=Hey%20dude.%20Let%27s%20make%20magic%20together.">reach out</a>.</p>
	</section>
	<section class="work section" id="work">
		<div class="work__header sectionContentFull">
			<h2 class="u-text--purple">It's all about the work</h2>
			<p>Check out a select few projects below that I was lucky enough to be part of over the years. For a more up to date look at what I'm doing <a href="https://dribbble.com/brianmaierjr" target="_blank">head over to my Dribbble page</a> and give me a like or two!</p>
		</div>
		<div class="work__main">
			<picture data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-offset="200"> 
				<source srcset="{{ 'assets/img/degrees-online.avif' | url }}" type="image/avif" media="(min-width: 801px)">
				<source srcset="{{ 'assets/img/degrees-online--sm.avif' | url }}" type="image/avif" media="(max-width: 800px)">
				<source srcset="{{ 'assets/img/degrees-online.jpg' | url }}" type="image/jpeg" media="(min-width: 801px)">
				<source srcset="{{ 'assets/img/degrees-online--sm.jpg' | url }}" type="image/jpeg" media="(max-width: 800px)">
				<img src="{{ 'assets/img/degrees-online.jpg' | url }}" alt="DegreesOnline.com Website" loading="lazy">
			</picture>
			<picture data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-offset="200"> 
				<source srcset="{{ 'assets/img/oyl.avif' | url }}" type="image/avif" media="(min-width: 801px)">
				<source srcset="{{ 'assets/img/oyl--sm.avif' | url }}" type="image/avif" media="(max-width: 800px)">				
				<source srcset="{{ 'assets/img/oyl.jpg' | url }}" type="image/jpeg" media="(min-width: 801px)">
				<source srcset="{{ 'assets/img/oyl--sm.jpg' | url }}" type="image/jpeg" media="(max-width: 800px)">
				<img src="{{ 'assets/img/oyl.jpg' | url }}" alt="On Your Left Cycles Website" loading="lazy">
			</picture>
			<picture data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-offset="200"> 
				<source srcset="{{ 'assets/img/shawnee.avif' | url }}" type="image/avif" media="(min-width: 801px)">
				<source srcset="{{ 'assets/img/shawnee--sm.avif' | url }}" type="image/avif" media="(max-width: 800px)">				
				<source srcset="{{ 'assets/img/shawnee.jpg' | url }}" type="image/jpeg" media="(min-width: 801px)">
				<source srcset="{{ 'assets/img/shawnee--sm.jpg' | url }}" type="image/jpeg" media="(max-width: 800px)">
				<img src="{{ 'assets/img/shawnee.jpg' | url }}" alt="Shawnee University Online Website" loading="lazy">
			</picture>
			<picture data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-offset="200">  
				<source srcset="{{ 'assets/img/logos.avif' | url }}" type="image/avif" media="(min-width: 801px)">
				<source srcset="{{ 'assets/img/logos--sm.avif' | url }}" type="image/avif" media="(max-width: 800px)">				
				<source srcset="{{ 'assets/img/logos.jpg' | url }}" type="image/jpeg" media="(min-width: 801px)">
				<source srcset="{{ 'assets/img/logos--sm.jpg' | url }}" type="image/jpeg" media="(max-width: 800px)">
				<img src="{{ 'assets/img/logos.jpg' | url }}" alt="Various Logo Designs by Yours Truly" loading="lazy">
			</picture>
		</div>
	</section>
	<section data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-offset="200" class="contact section sectionPartial pullLeft u-bg--purple"> 
		<div class="contact__content">
			<h2>Let's Make Something Together</h2>
			<p>Get in touch with me to talk about whatever project you have on the horizon. Even if I'm not a good fit, I'll do my best to get you moving in the right direction. I can also be found doing work with the amazing creatives at <a href="https://etherblk.com" target="_blank">Etherblack Industries</a> where we offer even more services!</p>
			<a href="mailto:brianmaierjr@gmail.com?subject=Hey%20dude.%20Let%27s%20make%20magic%20together." class="btn" target="_blank"><span class="btn__icon">{% include icons/envelope.svg %}</span> Send me a message</a> 
		</div> 
	</section>
</main>
